# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.gch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Core files
core
vgcore.*

# Executables
RType_Client
RType_Server
*.exe
*.out
*.app

TAGS
*/build
build

/doc/html/